<body>
  <div class="top-wrapper">
    <div class="container">
      <%=link_to image_tag("top.jpg") %>
      <div class="mask">
        <div class="caption">
          <h1>Who is Bach?
          <br>
            </h1>
            <p>バッハ槙一郎って何者?
            <br>
            </p>
        </div>
      </div>
    </div>
  </div>
  <div class="contents-wrapperr">
    <div class="container">
      <div class="heading">
        <h1 id="Music">
          Music
        </h1>
      </div>
      <p>フォークシンガー</p>
      <div class="lessons">
        <div class="music">
          <div class="lesson-icon">
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/I6PhEuBVJoo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <p class="txt-contents">「えんぴつ」学生の頃に感じてたことを思い出して作りました。</p>
          <%=link_to image_tag("yt_logo_mono_light"), 'https://www.youtube.com/user/Mrunitedeveryday/videos?view=0&sort=p&flow=grid', target: :_blank, rel: "noopener noreferrer" %>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
    <div class="content-wrapper">
    <div class="container">
      <div class="heading">
        <h1 id="Portrait">
          Portrait
        </h1>
      </div>
      <h3>Happy Birthday To Meプロジェクト</h3>
      <p>毎年、誕生日にその年を表す写真を撮りお爺ちゃんになったら個展を開くのが夢です</p>
      <div class="lessons">
        <div class="lesson">
          <div class="lesson-icon">
            <%=link_to image_tag("25portrate.JPG") %>
          </div>
          <p class="txt-contents">「大きな夢」<br>友達の撮影の手伝いをしていて誕生日が近いからと言って何枚か撮った写真です。この写真の評判が良かったので毎年撮ろうと思いつきました。</p>
        </div>
        
        <div class="lesson">
          <div class="lesson-icon">
            <%=link_to image_tag("26portrate.JPG") %>
          </div>
          <p class="txt-contents">「令和のニューリーダー」<br>平成から令和へ時代が移り昭和のファッションと平成の象徴を背景に令和を引っ張るリーダーになる。と思いを込めて撮影しました。</p>
        </div>

        <div class="lesson">
          <div class="lesson-icon">
            <%=link_to image_tag("27portrate.jpg") %>
          </div>
          <p class="txt-contents">「守るべきは口元だけですか？」<br>
          コロナウイルスの感染拡大によりマスクの値段が高騰する中、マスクでスーツを作りました。</p>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
    <div class="contents-wrapperr">
    <div class="container">
      <div class="heading">
        <h1 id="T-shirt">
          T-shirt
        </h1>
        <p>ファッションは、アティチュード</p>
      </div>
      <div class="lessons">
        <div class="design">
          <div class="lesson-icon">
            <%=link_to image_tag("Tochiji.JPG") %>
          </div>
          <p class="txt-contents">2019年1月バンクシーが日本に作品を残したと噂が広まりました。そんな中、落書きを消すべき行政のトップ自ら記念写真を撮りました。本当にバンクシーの作品だったのかは誰も知りませんが、この一連の騒動をバンクシーは世界のどこかで笑っているでしょう。</p>
        </div>
        
        <div class="design">
          <div class="lesson-icon">
            <%=link_to image_tag("bakuha.JPG") %>
          </div>
          <p class="txt-contents">たくさんの時間とお金とロマンを爆発という形で終えたロケットは、どんなに辛いことがあっても立ち上がる勇気とチャレンジ精神を学ばせてくれます。</p>
        </div>

        <div class="design">
          <div class="lesson-icon">
            <%=link_to image_tag("OScase.JPG") %>
          </div>
          <p class="txt-contents">松居一代さんのYoutubeで登場した"おちんちんシール"とキラキラのラメで愛憎渦巻く現世の男女間を表現しました。</p>
        </div>

        <div class="design">
          <div class="lesson-icon">
            <%=link_to image_tag("rejibukuro.jpg") %>
          </div>
          <p class="txt-contents">ポイントカードもってますか？温めますか？お箸いりますか？に加えて新たにレジ係に課された"レジ袋いりますか？"を目で見るだけで唱えなくてもよくすることのできる店員に優しいTシャツ</p>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>



  
  <div class="message-wrapper">
    <div class="container">
      <div class="heading">
        <h2>はちゃめちゃに無茶に世界を信じてる</h2>
        <h3>I believe this world in a crazy, reckless way.</h3>
      </div>
    </div>
  </div>
</body>
