<!DOCTYPE html>
<html>
  <head>
    <title>IamBach</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="css/top.css">
    <link rel="stylesheet" href="css/responsive.css">
    <!-- <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>

  </head>
  <body>
    <ul id="nav">
      <li><%=link_to image_tag("Youtube_icon.png"), 'https://www.youtube.com/user/Mrunitedeveryday?app=desktop', target: :_blank, rel: "noopener noreferrer" %></li>
      <li><%=link_to image_tag("Twitter_logo.png"), 'https://twitter.com/kokakokakolako', target: :_blank, rel: "noopener noreferrer" %></li>
      <li><%=link_to image_tag("instagram.png"), 'https://www.instagram.com/kokakokakolako/', target: :_blank, rel: "noopener noreferrer" %></li>
    </ul>
    <header>
      <div class="container">
        <div class="header-left">
          <div class="logo">
            <%=link_to image_tag("iambh_logo.png"), tops_path %>
          </div>
        </div>
        <div class="header-right">
          <a href="#Music">Music</a>
          <a href="#Portrait">Portrait</a>
          <a href="#T-shirt">T-shirt</a>
          <a href="#WebApp">WebApp</a>
          <a href="#Contact">Contact</a>
        </div>
      </div>
      <nav class="sp-nav">
        <ul>
            <li><a href="#Music">Music</a></li>
            <li><a href="#Portrait">Portrait</a></li>
            <li><a href="#T-shirt">T-shirt</a></li>
            <li><a href="#WebApp">WebApp</a></li>
            <li><a href="#Contact">Contact</a></li>
            <li class="close"><span>閉じる</span></li>
        </ul>
      </nav>
      <div id="hamburger">
        <span></span>
      </div>
    </header>
    <%= yield %>
    <footer>
      <div class="footer-left">
          <a href="#Music">Music</a>
          <a href="#Portrait">Portrait</a>
          <a href="#T-shirt">T-shirt</a>
          <a href="#WebApp">WebApp</a>
          <a href="#Contact">Contact</a>
      </div>
      <div class="footer-right">
        <p>©️IamBach2020</p>
      </div>
    </footer>
  </body>
</html>