<!DOCTYPE html>
<html>
  <head>
    <title>IamBach</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="css/top.css">
    <link rel="stylesheet" href="css/responsive.css">
    <!-- <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>

  </head>
  <body>
    <div class='sns_icon'>
      <ul id="nav">
        <li><%=link_to image_tag("Youtube_icon.png"), 'https://www.youtube.com/user/Mrunitedeveryday?app=desktop', target: :_blank, rel: "noopener noreferrer" %></li>
        <li><%=link_to image_tag("Twitter_logo.png"), 'https://twitter.com/kokakokakolako', target: :_blank, rel: "noopener noreferrer" %></li>
        <li><%=link_to image_tag("instagram.png"), 'https://www.instagram.com/kokakokakolako/', target: :_blank, rel: "noopener noreferrer" %></li>
      </ul>
    </div>
    <header>
      <div class="container">
        <div class="header-left">
          <div class="logo">
            <%=link_to image_tag("iambh_logo.png"), tops_path %>
          </div>
        </div>
        <div class="header-right">
          <%= link_to 'Music', root_path(anchor: 'Music') %>
          <%= link_to 'Portrait', root_path(anchor: 'Portrait') %>
          <%= link_to 'T-shirt', root_path(anchor: 'T-shirt') %>
          <%= link_to 'WebApp', "http://35.72.57.84" , target: :_blank, rel: "noopener noreferrer"%>
          <%= link_to 'Contact', root_path(anchor: 'Contact') %>
        </div>
        <nav class="sp-nav">
          <ul>
              <li><<%= link_to 'About', about_index_path %></li>
              <li><%= link_to 'Music', root_path(anchor: 'Music') %></li>
              <li><%= link_to 'Portrait', root_path(anchor: 'Portrait') %></li>
              <li><%= link_to 'T-shirt', root_path(anchor: 'T-shirt') %></li>
              <li class="close"><span>Close</span></li>
          </ul>
        </nav>
        <div id="hamburger">
          <span></span>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer>
      <%# <div class="footer-menu"> %>
        <div class="footer-left">
          <%= link_to 'Music', root_path(anchor: 'Music') %>
          <%= link_to 'Portrait', root_path(anchor: 'Portrait') %>
          <%= link_to 'T-shirt', root_path(anchor: 'T-shirt') %>
          <%= link_to 'WebApp', "http://35.72.57.84" , target: :_blank, rel: "noopener noreferrer"%>
          <%= link_to 'Contact', root_path(anchor: 'Contact') %>
        </div>
        <div class="footer-right">
          <p>©️IamBach2020</p>
        </div>
      </div>
      <div class='about_icon'>
        <ul>
          <li><%=link_to image_tag("Youtube_icon.png"), 'https://www.youtube.com/user/Mrunitedeveryday?app=desktop', target: :_blank, rel: "noopener noreferrer" %></li>
          <li><%=link_to image_tag("Twitter_logo.png"), 'https://twitter.com/kokakokakolako', target: :_blank, rel: "noopener noreferrer" %></li>
          <li><%=link_to image_tag("instagram.png"), 'https://www.instagram.com/kokakokakolako/', target: :_blank, rel: "noopener noreferrer" %></li>
        </ul>
      </div>
    </footer>
  </body>
</html>